{% load static %}
{% load set_var %}
{% load malkoDB_extras %}

<html>

    <head>

        <meta charset="utf-8" />
        <link rel="stylesheet" href="http://unred.org/visualmodel/malkoDB.css" />
        <title>
            MalkoFish
        </title>

    </head>

    <body>    

        <header>
            <a href="../">MalkoFish</a>
        </header>

{% if experiments_list.display %}
<p class=subtitle>VIDEOS!!!! </p>
    <table class=sqtable>
    <tr>
        <td>
        {{experiments_list.yname}} / {{experiments_list.xname}}
        </td>
      </td>{% for value in experiments_list.x %}
            <td>
        <div class=img>
          {{ value }}
          </video>
        </div>
      </td>{% endfor %}
    </tr>
    
    <tr>
        {% for video in experiments_list.videos %}{% if forloop.counter0|divisibleby:experiments_list.xTab %}
    </tr>
    <tr><td>
      {%with offset=forloop.counter0|divide:experiments_list.xTab%}
      {{ experiments_list.y|get_by_index:offset}}
      {%endwith%}
    </td>{% endif %}

        <td>
            <div class=img>
                {% with video|addstr:"-200.mp4" as video200 %}
                <video width="200" height="200" controls><source src={% static video200 %} type="video/mp4"></video>
                  {% endwith %}
                  {% with video|addstr:".mp4" as videoHD %}
                <p class=overtext><a href={% static videoHD %}>video</a></p>
                {% endwith %}
                
            </div>
        </td>{% endfor %}
        
    </tr>
    </table>
{% else %}
    <ul>
    {% for key in experiments_list.keys %}
        <li>{# <a href="{% url 'malkoDB:indexExperiment' experiments_list.project experiments_list.experiment key%}"> #}{{  key }}</a></li>
    {% endfor %}
    </ul>
{% endif %}
</body> 