{% load static %}

<html>

  <head>

    <meta charset="utf-8" />
    <link rel="stylesheet" href="http://unred.org/visualmodel/malkoDB.css" />
    <title>
      MalkoFish
    </title>

  </head>

  <body>  

    <header>
      <a href="../">MalkoFish</a>
    </header>


<p class=subtitle>How many individuals ? </p>
{% if  experiments_list.exp %}
    <ul>
    {% for experiment in experiments_list.exp %}
        <li><a href="{% url 'malkoDB:indexExperiment' experiments_list.project experiment%}">{{  experiment }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No experiments are available.</p>
{% endif %}

</body> 