{% load static %}
{% load malkoDB_extras %}

<html>

    <head>

        <meta charset="utf-8" />
        <link rel="stylesheet" href="http://unred.org/visualmodel/malkoDB.css" />
        <title>
            MalkoFish
        </title>

    </head>

    <body>    

        <header>
            <a href="../">MalkoFish</a>
        </header>

{% if experiments_list.display %}
<p class=subtitle>VIDEOS!!!! </p>
        <ul>
        {% for video in experiments_list.videos %}
        <div class=img>
              {% with video|addstr:"-200.mp4" as video200 %}
                <video width="200" height="200" controls><source src={% static video200 %} type="video/mp4">
                </video>
                  {% endwith %}
                  {% with video|addstr:".mp4" as videoHD %}
                <p class=overtext><a href={% static videoHD %}>video</a></p>
                {% endwith %}
                
            </div>
        {% endfor %}
        </ul>

    {% endif %}
{% endif %}
</body> 